body {
	background-image:url('../images/bg_wb.png');
	padding: 0px;
	margin: 0px;
}

h1 ,div, span {
	padding: 0px;
	margin: 0px;
}

.header-wrap {
	height: 41px;
	width: 100%;
	border-bottom: solid 1px #074f55;
	background-color: #2395b1;
}
.logo {
	padding: 2px;
	width: auto;
	height: 40px;
	color: #064b5c;
	float: left;
}
.create {
	background-image:url('../images/create.png');
	width: 32px;
	height: 32px;
	cursor: pointer;
	float: left;
	margin-top: 5px;
	margin-left: 100px;
}